{% comment %} location: polls/templates/polls/index.html {% endcomment %}
{% comment %} Templates namespacing
Django will choose the first template it finds whose name matches, and if you had a template with the same name in a different application, django would unable to distinguish between them. so put those templates inside another directory named after the application itself {% endcomment %}


{% comment %} to use css {% endcomment %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% comment %} The {% static %} template tag generates the absolute URL of static files. {% endcomment %}

{% if latest_question_list %}
  <ul>
     {% for question in latest_question_list %}
        {% comment %}this is a hardcode version  {% endcomment %}
        {% comment %} <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> {% endcomment %}

        {% comment %} the way this work is by looking up the url definition as specified in the polls.url module

        path('<int:question_id>/', views.detail, name='detail'),

        or path('specifics/<int:question_id>/', views.detail, name='detail'),
         {% endcomment %}
        {% comment %} <li><a href="{% url 'detail' question.id%}">{{question.question_text}}</a</li> {% endcomment %}


        {% comment %} for namespacing problem {% endcomment %}
        {% comment %} to use this don't forget to add app name in polls/url.py {% endcomment %}
               <li><a href="{% url 'polls:detail' question.id%}">{{question.question_text}}</a</li>
     {% endfor %}
  </ul>
{% else %}
    <p>No polls are available</p>
{% endif %}